# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Database
*.db
*.sqlite3
database/data.db

# Uploads
uploads/*
!uploads/.gitkeep

# OS & IDE
.DS_Store
.vscode/
.idea/
